body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	min-width: 1150px;
}
img {
	max-width: 100%;
}
#header {
	border-top: 6px solid #f3d207;
	height: 115px;
}
.container {
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 1150px;
}
#header .logo {
	display: block;
 	height: 96px;
  	width: 197px;
  	background: url('../images/header_logo.svg') 50% 50% no-repeat;
  	margin: 9px 0;
  	float: left;
  }
#header .menu {
	list-style-type: none;
	float: left;
	margin: 0;
}
#header .menu li {
	display: inline-block;
	margin: 30px 13px;
	font-size: 17px;
	font-weight: 700;
	color: #316baa;
	line-height: 96px;
}
#header .menu li a {
	color: inherit;
}
#header .menu li a:hover {
	color: #2fb6e5;
}
#header .contacts {
	display: block;
	font-weight: 600;
	color: #555656;
	line-height: normal;
	vertical-align: middle;
}
#header .contacts .phone {
	font-size: 32px;
}
#header .contacts .address {
	font-size: 17px;
}

#request {
	height: 610px;
	background: #fff url(../images/request_bg.png);
	background-size: cover;
		margin: 0;
}
#request .mounting {
	width: 40%;
	text-transform: uppercase;
	color: #316baa;
	font-weight: 300;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	padding-top: 80px;
}
#request .fond {
	width: 40%;
	background: rgba(96, 141, 191, 0.7);
	margin: 16px 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}
#request .insi {
	font-weight: 400;
	font-size: 16px;
	padding: 18px;
/*	vertical-align: middle;*/
}
#request .specialist {
	font-size: 22px;
	padding: 26px;
}
#request .form {
	float: left;
}
.block {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	overflow: hidden; /*Зачем это?*/
	padding: 50px 0;
}

.block .col {
	box-sizing: border-box;
	float: left;
	padding: 0 50px;
	width: 50%
}
.block .image {
	float: right;
	padding-right: 0;
}
.block .image img {
	border: 6px solid #f0f0ec;
	display: block;
}
.block .content {
	padding-left: 0;
}

.block .content h2 {
	color: #316baa;
}
.block .content h2::after {
	content: '';
	display: block;
	height: 3px;
	width: 108px;
	background-color: #316baa;
	margin-top: 18px;
}
.block .content .title {
	color: #316baa;
	display: block;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.block .content .description {
	color: #495f70;
	display: block;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 35px;
}
.block .content .button {
	background-color: #316baa;
	border-radius: 2px; 
	box-shadow: 0 2px 0 0 rgba(84,86,86,0.5);
	color: #fff;
	display: inline-block;	
	font-size: 16px;
	font-weight: 700;
	height: 60px;
	line-height: 60px;
	margin: 10px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle; 
	width: 230px;
}
.block:nth-of-type(odd) {
	background: #316baa;
}
.block:nth-of-type(odd) .image {
	float: left;
	padding-left: 0;

}
.block:nth-of-type(odd) .content {
	padding-left: 50px;
}
.block:nth-of-type(odd) .content h2 {
	color: #fff;
}
.block:nth-of-type(odd) .content h2::after {
	background-color: #fff;
}
.block:nth-of-type(odd) .content .title {
	color: #fff;
}
.block:nth-of-type(odd) .content .description {
	color: #fff;
}
.block:nth-of-type(odd) .content .button {
	background-color: #fecc0a;
	color: #316baa;
}

